#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
COMMON_CONFIGURE_ARGS := \
  --enable-optimizations \
  --prefix=/opt/python-3.8.5/

%:
	dh $@ 

clean: 
	dh_testdir
	dh_testroot
	dh_clean

override_dh_auto_configure:
	./configure $(COMMON_CONFIGURE_ARGS)
